<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload History</title>
</head>
<body>
<form th:object="${medicalhistoryrecord}" method="post" enctype="multipart/form-data">
  <input name = "duration" type="text">
  <input name = "name" type="text">
  <input name = "filer" type = "file" multiple="multiple">
  <input name = "medication" type="text">
  <input name = "date" type="date">
  <button>Submit</button>
</form>
</body>
</html>