<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verify Password</title>
    <style>
        #finalize
        {
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
            border-radius: 0.19rem;
            border: none;
            color: white;
            background-color: rgb(78, 181, 255);
            cursor: pointer;
        }
    </style>
</head>
<body>
<form method="post" th:object="${doctor}">
    <label th:for = "password">Enter Password</label>
  <input th:name="password" type = "text">
    <button id = "finalize" type="submit">Verify</button>
</form>
</body>
</html>