<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A little issue</title>
    <link rel = "icon" th:href = "@{/favicon.png}">
    <style>
        html, body
        {
            height: 96%;
            background-color: rgb(253, 249, 254);
        }

        body
        {
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        p
        {
            text-align: center;
            font-family: sans-serif;
        }

    </style>
</head>
<body>
<div>
    <h1></h1>
    <p th:text="${errorMessage}"></p>
</div>
</body>
</html>